div.scrollmenu {
  flex: auto;
  flex-direction: row;
  gap: 20px;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  scrollbar-width: none;
}

div.scrollmenu div {
  display: inline-block;
  background-color: #919d8c;
  text-align: center;
  padding: 10px 50px 10px 50px;
  margin: 0px 30px;
  border-radius: 10px;
  text-decoration: none;
}

div.scrollmenu p {
  padding: 10px;
}

.section_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 180px 0px 0px 0px;
}

.section_container h1 {
  font-size: 50px;
  font-weight: bold;
}

.trofeus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  padding: 100px 0px 0px 0px;
}
