.section_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 180px 0px 0px 0px;
}

.section_container .texto {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 200;
}

.section_container h1 {
  font-size: 50px;
  font-weight: bold;
}

.section_container p {
  font-size: 28px;
  font-weight: medium;
}

.carrosel {
  display: block;
  width: 100%;
  height: 100%;

  max-width: 550px;
  max-height: 550px;

  border-radius: 20px;
}

.noticias {
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
}

.container_noticias {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.div-container-carrosel{
  position: relative;
}

.btn{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: var(--secondary);
  border: none;
  top: 50%;
  font-size: 30px;
}

#btnAnterior{
  left: 10px;
}

#btnProximo{
  right: 10px;
}