.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding-top: 120px;
}

.menu {
  background: var(--secondary);
  border-radius: 50px;
}

.menu ul {
  display: flex;
  padding: 0px 220px;
  justify-content: space-between;
}

.menu ul li a {
  display: block;
  color: var(--grayLight);
  cursor: pointer;
  padding: 10px 20px;
}
