.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding-top: 120px;
}

.menu {
  background: var(--secondary);
  border-radius: 50px;
}

.menu ul {
  display: flex;
  padding: 0px 220px;
  justify-content: space-between;
}

.menu ul li a {
  display: block;
  color: var(--grayLight);
  cursor: pointer;
  padding: 10px 20px;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  color: var(--secondary);
}

.margin_top {
  margin-top: 90px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 30px;
  background: var(--grayMedium);
}

.card h3 {
  color: var(--primaryDark);
  font-size: 30px;
  font-weight: 600;
}

.card p {
  font-size: 25px !important;
  font-weight: 300;
}
